@media screen and (max-width: 1500px) {/*sporedna*/
    /*sredina2*/
    #sredina2 .poslovi .ikone {
        width: 22%;
    }
    /*projects*/
    #projects .project1234 {
        width: 23.5%;
    }
}
@media screen and (max-width: 1441px) {
    /*Sredina2*/
    #sredina2 .poslovi .ikone .slike {
        width: 100px;
        height: 100px;
    }
    #sredina2 .poslovi .ikone .slike img {
        width: 100px;
        height: 100px;
    }
    #sredina2 .poslovi .ikone .text1 h2 {
        font-size: 30px;
    }
    #sredina2 .poslovi .ikone .text1 p {
        font-size: 20px;
    }
}
@media screen and (max-width: 1101px) {/*sporedna*/
    /*Sredina2*/
    #sredina2 .poslovi {
        padding-bottom: 50px;
    }
    #sredina2 .poslovi .ikone {
        width:47%;
        padding-bottom: 100px;
    }
    #sredina2 .poslovi .ikone .slike {
        width: 110px;
        height: 110px;
    }
    #sredina2 .poslovi .ikone .slike img {
        width: 110px;
        height: 110px;
    }
    #sredina2 .poslovi .ikone .text1 h2 {
        font-size: 35px;
    }
    #sredina2 .poslovi .ikone .text1 p {
        font-size: 24px;
    }
    /*about*/
    #about #grupa #text2 p {
        font-size: 21px;
    }
    /*projects*/
    #projects .project1234 {
        width: 23.2%;
    }
    #projects .project1234 .opis1 {
        width: 100%;
    }
    #projects .project1234 .opis1 h2 {
        font-size: 23px;
    }
    #projects .project1234 .opis1 p {
        font-size: 17px;
    }
}
@media screen and (max-width: 1025px) {
    #header #logo img {
        padding-left: 50px;
    }
    #header #meny ul li {
        padding-right: 50px;
    }
    /*Sredina1*/
    #sredina1 #text h1 {
        font-size: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #sredina1 #text h2 {
        font-size: 35px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    /*Sredina2*/
    #sredina2 .poslovi .ikone {
        width:46%;
    }
    #sredina2 .poslovi .ikone .slike {
        width: 110px;
        height: 110px;
    }
    #sredina2 .poslovi .ikone .slike img {
        width: 110px;
        height: 110px;
    }
    /*about*/
    #about #grupa #text2 {
        width: 45%;
    }
    #about #grupa #skilovi {
        width: 45%;
    }
    /*contact*/
    .contact #grupe #grupaR .linkovi {
        padding-left: 50px;
    }
}
@media screen and (max-width: 993px) {
    #header #meny ul li a {
        font-size: 23px;
    }
     /*Sredina2*/
     #sredina2 .poslovi .ikone {
        width:46%;
    }
    /*about*/
    #about #grupa #text2 {
        width: 97%;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    #about #grupa #skilovi {
        width: 97%;
        padding-top: 100px;
        padding-right: 15px;
    }
    #about #grupa #text2 p {
        font-size: 24px;
    }
    /*projects*/
    #projects .project1234 {
        width: 47.7%;
    }
    #projects .project1234 .opis1 {
        width: 90%;
    }
    #projects .project1234 .opis1 h2 {
        font-size: 27px;
    }
    #projects .project1234 .opis1 p {
        font-size: 20px;
    }
}
@media screen and (max-width: 825px) {/*sporedna*/
    /*Sredina2*/
    #sredina2 .poslovi .ikone {
        width:45%;
    }
    #sredina2 .poslovi .ikone .text1 h2 {
        font-size: 33px;
    }
    #sredina2 .poslovi .ikone .text1 p {
        font-size: 22px;
    }
    /*projects*/
    #projects .project1234 {
        width: 47.3%;
    }
    #projects .project1234 .opis1 {
        width: 90%;
    }
    #projects .project1234 .opis1 h2 {
        font-size: 27px;
    }
    #projects .project1234 .opis1 p {
        font-size: 20px;
    }
    /*contact*/
    .contact #grupe #grupaL {
        width: 70%;
        padding-left: 0px;
    }
    .contact #grupe #grupaL form .forma button {
        width: 34%;
        padding: 10px 0px;
        margin-left: 35px;
        margin-top: 5px;
    }
    .contact #grupe #grupaR {
        width: 100%;
        padding-top: 50px;
    }
}
@media screen and (max-width: 769px) {
    #header #logo img {
        padding-left: 35px;
    }
    #header #meny ul li {
        padding-right: 35px;
    }
    #header #meny ul li a {
        font-size: 22px;
    }
    /*Sredina1*/
    #sredina1 #text{
        width: 500px;
    }
    #sredina1 #text h1 {
        font-size: 35px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #sredina1 #text h2 {
        font-size: 30px;
        padding-top: 0px;
        padding-bottom: 8px;
    }
    /*Sredina2*/
    #sredina2 .poslovi .ikone {
        width:44%;
    }
    #sredina2 .poslovi .ikone .slike {
        width: 105px;
        height: 105px;
    }
    #sredina2 .poslovi .ikone .slike img {
        width: 105px;
        height: 105px;
    }
    #sredina2 .poslovi .ikone .text1 h2 {
        font-size: 33px;
    }
    #sredina2 .poslovi .ikone .text1 p {
        font-size: 22px;
    }
    /*about*/
    #about #grupa #text2 {
        width: 96%;
    }
    #about #grupa #skilovi {
        width: 96%;
    }
    /*projects*/
    #projects .project1234 {
        width: 47%;
    }
    #projects .project1234 .opis1 {
        width: 90%;
    }
    #projects .project1234 .opis1 h2 {
        font-size: 24px;
    }
    #projects .project1234 .opis1 p {
        font-size: 18px;
    }
    /*contact*/
    .contact #grupe #grupaL {
        width: 70%;
        padding-left: 217px;
      }
    .contact #grupe #grupaL form {
        width:70%;
    }
    .contact #grupe #grupaR .linkovi {
        padding-left: 0px;
    }
    /*futer*/
    #copyright p {
        font-size: 25px;
    }
}
@media screen and (max-width: 689px) {/*sporedna*/
    #sredina2 .poslovi .ikone .text1 h2 {
        font-size: 28px;
    }
    #sredina2 .poslovi .ikone .text1 p {
        font-size: 18px;
    }
    .contact #grupe #grupaL form .forma button {
        width: 32%;
    }
}
@media screen and (max-width:601px) {
    #header #logo img {
        padding-left: 25px;
    }
    #header #meny ul li {
        padding-right: 20px;
    }
    #header #meny ul li a {
        font-size: 20px;
    }
     /*Sredina1*/
     #sredina1 #text{
        width: 450px;
    }
    #sredina1 #text h1 {
        font-size: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #sredina1 #text h2 {
        font-size: 27px;
        padding-top: 0px;
        padding-bottom: 8px;
    }
    /*Sredina2*/
    #sredina2 .naslovi h1{
        font-size: 40px;
    }
    #sredina2 .poslovi .ikone {
        width:91%;
    }
    #sredina2 .poslovi .ikone .slike {
        width: 102px;
        height: 102px;
    }
    #sredina2 .poslovi .ikone .slike img {
        width: 102px;
        height: 102px;
    }
    #sredina2 .poslovi .ikone .text1 h2 {
        font-size: 32px;
    }
    #sredina2 .poslovi .ikone .text1 p {
        font-size: 22px;
    }
    /*about*/
    #about .naslovi h1 {
        font-size: 40px;
    }
    #about #grupa #text2 {
        width: 95%;
    }
    #about #grupa #text2 h2 {
        font-size: 32px;
    }
    #about #grupa #text2 p {
        font-size: 22px;
    }
    #about #grupa #skilovi {
        width: 95%;
    }
    #about #grupa #skilovi #text3 h2 {
        font-size: 32px;
    }
    #about #grupa #skilovi #skill1 #skilltext h2{
        font-size: 28px;
    }
    #about #grupa #skilovi #skill2 #skilltext1 h2{
        font-size: 28px;
    }
    #about #grupa #skilovi #skill3 #skilltext2 h2{
        font-size: 28px;
    }
    #about #grupa #skilovi #skill4 #skilltext3 h2{
        font-size: 28px;
    }
     /*projects*/
    #projects .naslovi1 h1 {
         font-size: 40px;
     }
    #projects .project1234 {
        width: 95%;
    }
    #projects .project1234 .opis1 {
        width: 90%;
    }
    #projects .project1234 .opis1 h2 {
        font-size: 27px;
    }
    #projects .project1234 .opis1 p {
        font-size: 20px;
    }
    /*contact*/
    .contact .naslovi h1 {
        font-size: 40px;
    }
    .contact #grupe #grupaL form {
        margin: 0px;
        margin-left: 55px;
    }
    .contact #grupe #grupaL form .forma button {
        width: 27%;
    }
    .contact #grupe #grupaL {
        padding-left: 116px;
      }
    /*futer*/
    #copyright p {
        font-size: 22px;
    }
    .futer #cssresp_sass_sitemap a {
        padding-right: 10px;
    }
}
@media screen and (max-width:481px) {
    #header #logo{
        margin-left:185px;
    }
    #header #logo img {
        padding-left: 0px;
    }
    #header #meny{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    #header #meny ul li {
        padding: 0px;
        margin-left: 28px;
    }
     /*Sredina1*/
    #sredina1 #text{
        width: 400px;
    }
    #sredina1 #text h1 {
        font-size: 28px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    #sredina1 #text h2 {
        font-size: 23px;
        padding-top: 0px;
        padding-bottom: 8px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    #sredina1 #profilna {
        width: 220px;
        height: 300px;
    }
    #sredina1 #profilna img {
        width: 220px;
        height: 300px;
    }
    /*Sredina2*/
    #sredina2 .poslovi .ikone {
        width:89%;
    }
     /*about*/
    #about #grupa #text2 {
        width: 94%;
    }
    #about #grupa #text2 p {
        font-size: 20px;
    }
    #about #grupa #skilovi {
        width: 94%;
    }
     /*projects*/
     #projects .project1234 {
        width: 94%;
    }
    #projects .project1234 .opis1 {
        width: 90%;
    }
    #projects .project1234 .opis1 h2 {
        font-size: 24px;
    }
    #projects .project1234 .opis1 p {
        font-size: 19px;
    }
    /*contact*/
    .contact #grupe {
        width: 97%;
    }
    .contact #grupe #grupaL {
        width:85%;
        padding-left: 62px;
    }
    .contact #grupe #grupaL form .forma button {
        width: 25%;
    }
    .contact #grupe #grupaR .linkovi p {
        font-size: 25px;
    }
    .contact #grupe #grupaR .linkovi p i {
        font-size: 20px;
    }
    /*futer*/
    .futer #copyright {
        float: none;
        margin-left: 90px;
        padding-bottom: 15px;

    }
    .futer #cssresp_sass_sitemap {
        float: none;
        margin-left: 175px;
    }
}
@media screen and (max-width:426px) {
    #header #logo{
        margin-left:160px;
    }
    #header #meny ul li a {
        font-size: 18px;
    }
    #header #meny ul li {
        padding: 0px;
        margin-left: 25px;
    }
      /*Sredina1*/
      #sredina1 #text{
        width: 350px;
    }
    #sredina1 #text h1 {
        font-size: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #sredina1 #text h2 {
        font-size: 20px;
        padding-top: 0px;
        padding-bottom: 8px;
    }
    /*Sredina2*/
    #sredina2 .naslovi h1{
        font-size: 35px;
    }
    #sredina2 .poslovi .ikone {
        width:87%;
    }
    #sredina2 .poslovi .ikone .slike {
        width: 100px;
        height: 100px;
    }
    #sredina2 .poslovi .ikone .slike img {
        width: 100px;
        height: 100px;
    }
    #sredina2 .poslovi .ikone .text1 h2 {
        font-size: 30px;
    }
    #sredina2 .poslovi .ikone .text1 p {
        font-size: 20px;
    }
     /*about*/
     #about .naslovi h1 {
        font-size: 35px;
    }
    #about #grupa #text2 h2 {
        font-size: 30px;
    }
    #about #grupa #text2 p {
        font-size: 20px;
    }
    #about #grupa #skilovi #text3 h2 {
        font-size: 30px;
    }
    #about #grupa #skilovi #skill1 #skilltext h2{
        font-size: 25px;
    }
    #about #grupa #skilovi #skill1 #skilltext p {
        font-size: 22px;
    }
    #about #grupa #skilovi #skill2 #skilltext1 h2{
        font-size: 25px;
    }
    #about #grupa #skilovi #skill2 #skilltext1 p {
        font-size: 22px;
    }
    #about #grupa #skilovi #skill3 #skilltext2 h2{
        font-size: 25px;
    }
    #about #grupa #skilovi #skill3 #skilltext2 p {
        font-size: 22px;
    }
    #about #grupa #skilovi #skill4 #skilltext3 h2{
        font-size: 25px;
    }
    #about #grupa #skilovi #skill4 #skilltext3 p {
        font-size: 22px;
    }
     /*projects*/
     #projects .naslovi1 h1 {
        font-size: 35px;
    }
     #projects .project1234 {
        width: 93%;
    }
    #projects .project1234 .opis1 {
        width: 80%;
    }
    #projects .project1234 .opis1 h2 {
        font-size: 22px;
    }
    #projects .project1234 .opis1 p {
        font-size: 17px;
    }
    /*contact*/
    .contact .naslovi h1 {
        font-size: 35px;
    }
    .contact #grupe {
        width: 95%;
    }
    .contact #grupe #grupaL {
        padding-left: 46px;
    }
    .contact #grupe #grupaL form .forma button {
        width: 24%;
    }
    /*futer*/
    #copyright p {
        font-size: 20px;
    }
    .futer #cssresp_sass_sitemap a {
        padding-right: 0px;
    }
    .futer #cssresp_sass_sitemap a i{
        font-size: 25px;
    }
    .futer #cssresp_sass_sitemap {
        margin-left: 0px;
        text-align: center;
        margin-right: 0px;
      }
    .futer #copyright {
        float: none;
        margin-left: 0px;
        padding-bottom: 15px;
        text-align: center;
      }
}
@media screen and (max-width:376px) {
    #header #logo{
        margin-left:135px;
    }
    #header #meny ul li a {
        font-size: 16px;
    }
    #header #meny ul li {
        padding: 0px;
        margin-left: 21px;
    }
     /*Sredina1*/
     #sredina1 #text{
        width: 300px;
    }
    #sredina1 #text h1 {
        font-size: 23px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #sredina1 #text h2 {
        font-size: 18px;
        padding-top: 0px;
        padding-bottom: 8px;
    } 
    #sredina1 #profilna {
        width: 190px;
        height: 260px;
    }
    #sredina1 #profilna img {
        width: 190px;
        height: 260px;
    }
    /*Sredina2*/
    #sredina2 .naslovi h1{
        font-size: 33px;
    }
    #sredina2 .poslovi .ikone {
        width:85%;
    }
    #sredina2 .poslovi .ikone .text1 h2 {
        font-size: 27px;
    }
    #sredina2 .poslovi .ikone .text1 p {
        font-size: 18px;
    }
     /*about*/
     #about #grupa #text2 {
        width: 92%;
    }
    #about #grupa #skilovi {
        width: 92%;
    }
     #about .naslovi h1 {
        font-size: 33px;
    }
    #about #grupa #text2 h2 {
        font-size: 27px;
    }
    #about #grupa #text2 p {
        font-size: 18px;
    }
    #about #grupa #skilovi #text3 h2 {
        font-size: 27px;
    }
    #about #grupa #skilovi #skill1 #skilltext h2{
        font-size: 24px;
    }
    #about #grupa #skilovi #skill1 #skilltext p {
        font-size: 21px;
    }
    #about #grupa #skilovi #skill2 #skilltext1 h2{
        font-size: 24px;
    }
    #about #grupa #skilovi #skill2 #skilltext1 p {
        font-size: 21px;
    }
    #about #grupa #skilovi #skill3 #skilltext2 h2{
        font-size: 24px;
    }
    #about #grupa #skilovi #skill3 #skilltext2 p {
        font-size: 21px;
    }
    #about #grupa #skilovi #skill4 #skilltext3 h2{
        font-size: 24px;
    }
    #about #grupa #skilovi #skill4 #skilltext3 p {
        font-size: 21px;
    }
     /*projects*/
     #projects .naslovi1 h1 {
        font-size: 33px;
    }
     #projects .project1234 {
        width: 92%;
    }
    #projects .project1234 .opis1 {
        width: 80%;
    }
    #projects .project1234 .opis1 h2 {
        font-size: 19px;
    }
    #projects .project1234 .opis1 p {
        font-size: 15px;
    }

    /*contact*/
    .contact .naslovi h1{
        font-size: 33px;
    }
    .contact #grupe {
        width: 91%;
    }
    .contact #grupe #grupaL form {
        width: 90%;
        margin: 0px;
          margin-left: 0px;
        margin-left: 25px;
      }
    .contact #grupe #grupaL form .forma button {
        width: 23%;
    }
    .contact #grupe #grupaR {
        width: 108%;
        padding-top: 50px;
    }
    .contact #grupe #grupaR .linkovi p {
        font-size: 23px;
    }
    .contact #grupe #grupaR .linkovi p i {
        font-size: 18px;
    }
}
@media screen and (max-width:321px) {
    #header #logo{
        margin-left:107px;
    }
    #header #meny ul li a {
        font-size: 16px;
    }
    #header #meny ul li {
        padding: 0px;
        margin-left: 11px;
    }
     /*Sredina1*/
     #sredina1 #text{
        width: 250px;
    }
    #sredina1 #text h1 {
        font-size: 21px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #sredina1 #text h2 {
        font-size: 16px;
        padding-top: 0px;
        padding-bottom: 8px;
    } 
    #sredina1 #profilna {
        width: 190px;
        height: 260px;
    }
    #sredina1 #profilna img {
        width: 190px;
        height: 260px;
    }
    /*Sredina2*/
    #sredina2 .naslovi h1{
        font-size: 30px;
    }
    #sredina2 .poslovi .ikone {
        width:83%;
    }
    #sredina2 .poslovi .ikone .slike {
        width: 95px;
        height: 95px;
    }
    #sredina2 .poslovi .ikone .slike img {
        width: 95px;
        height: 95px;
    }
    #sredina2 .poslovi .ikone .text1 h2 {
        font-size: 25px;
    }
    #sredina2 .poslovi .ikone .text1 p {
        font-size: 17px;
    }
    /*about*/
    #about .naslovi h1 {
        font-size: 30px;
    }
    #about #grupa #text2 {
        width: 91%;
    }
    #about #grupa #skilovi {
        width: 91%;
    }
    #about #grupa #text2 h2 {
        font-size: 25px;
    }
    #about #grupa #text2 p {
        font-size: 17px;
    }
    #about #grupa #skilovi #text3 h2 {
        font-size: 22px;
    }
    #about #grupa #skilovi #skill1 #skilltext h2{
        font-size: 21px;
    }
    #about #grupa #skilovi #skill1 #skilltext p {
        font-size: 20px;
    }
    #about #grupa #skilovi #skill2 #skilltext1 h2{
        font-size: 21px;
    }
    #about #grupa #skilovi #skill2 #skilltext1 p {
        font-size: 20px;
    }
    #about #grupa #skilovi #skill3 #skilltext2 h2{
        font-size: 21px;
    }
    #about #grupa #skilovi #skill3 #skilltext2 p {
        font-size: 20px;
    }
    #about #grupa #skilovi #skill4 #skilltext3 h2{
        font-size: 21px;
    }
    #about #grupa #skilovi #skill4 #skilltext3 p {
        font-size: 20px;
    }
      /*projects*/
      #projects .naslovi1 h1 {
        font-size: 30px;
    }
      #projects .project1234 {
        width: 91%;
    }
    #projects .project1234 .opis1 {
        width: 80%;
    }
    #projects .project1234 .opis1 h2 {
        font-size: 19px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    #projects .project1234 .opis1 p {
        font-size: 15px;
    }
     /*contact*/
     .contact .naslovi h1 {
        font-size: 30px;
    }
     .contact #grupe #grupaL {
        width: 100%;
        padding-left: 15px;
    }
    .contact #grupe #grupaL .forma button {
        width: 50%;
    }
    .contact #grupe #grupaR {
        padding-top: 50px;
        width: 104%;
    }
}